In [2]:
import arcpy
import pandas as pd
from arcgis import GIS
gis = GIS()
from arcgis.features import GeoAccessor, GeoSeriesAccessor
import numpy as np

In [3]:
table = pd.read_csv(r'C:\Users\jskillman\Ducks Unlimited Incorporated\GIS Department - ABDU DST and more!\GIS\Original_Data\correctedDailyharv19992014.csv', dtype={'fips' : str, 'County': str, 'jvcountyfips' : str})
list(table)

['SpecCode', 'Year', 'SNo', 'ST', 'countyfips', 'County', 'HDate', 'Harvest', 'Season', 'lumpedAOU', 'statefips', 'fips', 'jvcountyfips']

In [4]:
table.head()

  SpecCode  Year    SNo  ST  ...  lumpedAOU statefips  fips  jvcountyfips
0     ABDU  2013  118.0  CT  ...       ABDU       9.0  9011          9011
1     ABDU  2013  118.0  CT  ...       ABDU       9.0  9011          9011
2     ABDU  2013  118.0  CT  ...       ABDU       9.0  9011          9011
3     ABDU  2013  118.0  CT  ...       ABDU       9.0  9011          9011
4     ABDU  2013  118.0  CT  ...       ABDU       9.0  9011          9011

[5 rows x 13 columns]

In [6]:
table2 = pd.pivot_table(table, 
                        values='Harvest', # values to manipulate
                        index=['fips'], # columns to summarize on
                        columns=['Season'], # columns to split on
                        aggfunc=np.sum) # function used to manipulate values
table2.reset_index(inplace=True)
table2.head()

Season   fips          fall        winter
0       10001  283350.13763  320559.09840
1       10003  109272.04632  121255.72658
2       10005  138176.10530  186396.84537
3        1001    5736.96080    5966.65100
4        1003   18757.00440   47923.31015

In [ ]:

#list(table2)

In [59]:
print(len(table2.fips))
x = table2.fips.unique()
len(x)

3452

3452

In [30]:
fc = r'C:\Users\jskillman\Ducks Unlimited Incorporated\GIS Department - ABDU DST and more!\GIS\Figures\DuckUseDays_and_PopulationObjectives\MapData_DUD_HabOb.gdb\CountiesAJV'

In [31]:
sdf = pd.DataFrame.spatial.from_featureclass(fc)

In [82]:
m = gis.map()
m

MapView(layout=Layout(height='400px', width='100%'))

In [ ]:
#m.draw(sdf)

In [33]:
sdf.head()

   OBJECTID  ...                                              SHAPE
0        12  ...  {'rings': [[[-8933739.0041, 4990836.527599998]...
1        13  ...  {'rings': [[[-8963358.3492, 5084740.8972999975...
2        14  ...  {'rings': [[[-8866832.1044, 5103814.870300002]...
3        15  ...  {'rings': [[[-8879059.5476, 5201406.841499999]...
4        20  ...  {'rings': [[[-8901483.6406, 5037704.875100002]...

[5 rows x 7 columns]

In [63]:
table2.head()

Season  level_0  index   fips        fall      winter
0             0      0  10001  243.010410  214.996042
1             1      1  10003  211.767532  175.732937
2             2      2  10005  184.974706  187.145427
3             3      3   1001  819.565829  497.220917
4             4      4   1003  568.394073  570.515597

In [71]:
print(table2.dtypes)
print(sdf.dtypes)

Season
level_0      int64
index        int64
fips        object
fall       float64
winter     float64
dtype: object
OBJECTID         int64
NAME            object
STATE_NAME      object
FIPS            object
POPULATION       int64
POP_SQMI       float64
SHAPE         geometry
dtype: object

In [77]:
len(sdf)

614

'SHAPE'